@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@1,900&family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
  background-color: black;
  text-decoration: none;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  color: white;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

/* HEADER */
.nav-header-container {
  justify-self: stretch;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid white;
  padding: 1rem;
}

.nav-item {
  font-size: 1.3rem;
  font-weight: 600;
}
/*  */

.welcome {
  font-weight: 600;
  font-size: 2rem;
}

.message-card {
  border: 2px solid white;
  width: 100%;
  max-width: 70rem;
  border-radius: 24px;
  padding: 1rem;
}

#message-title {
  display: flex;
  gap: 2rem;
  font-weight: 600;
  align-items: center;
}

#message {
  font-weight: 600;
}

#message-title-text,
#message-text {
  font-family: "jetBrains Mono", monospace;
  font-size: 1.2rem;
  font-weight: 300;
}

#message-info {
  display: flex;
  justify-content: space-between;
  font-family: "JetBrains Mono", monospace;
}

form {
  display: grid;
  gap: 0.7rem;
  width: 100%;
  max-width: 50rem;
  border: 2px solid white;
  padding: 0.5rem;
}

label {
  font-weight: 600;
  font-size: 1.2rem;
}

input {
  padding: 1rem;
}

textarea {
  resize: none;
  height: 200px;
}

button {
  font-family: "JetBrains Mono", monospace;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: white;
  color: black;
}

#delete-form {
  max-width: 150px;
}

.social-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#github-logo {
  width: 32px;
  height: 32px;
}

#social-link {
  font-family: "JetBrains Mono", monospace;
  color: white;
}
